= content_for :title, "Ska Music Room"

.row
  .col-md-8
    %audio#now_playing_audio{ volume: 0.5 }
      %source#now_playing_audio_source{ type: "audio/mp3" }
    .panel.panel-default
      .panel-heading.text-center
        %strong Now Playing
      .panel-body#now_playing
    .panel.panel-info
      .panel-body
        %h3#dj_list
    %h3#rudy_list
  .col-md-4
    %p#tools
      .well
        .btn-group
          = link_to "<span class='glyphicon glyphicon-volume-off'></span>".html_safe, "/volume_off", class: "btn btn-default", id: "volume_off", disabled: false
          = link_to "<span class='glyphicon glyphicon-volume-down'></span>".html_safe, "/volume_down", class: "btn btn-default", id: "volume_down", disabled: false
          = link_to "<span class='glyphicon glyphicon-volume-up'></span>".html_safe, "/volume_up", class: "btn btn-default", id: "volume_up", disabled: false
        = link_to "<span class='glyphicon glyphicon-record'></span>".html_safe, "/spin", class: "btn btn-default", id: "spin"
        .btn-group#vote_buttons
          = link_to "<span class='glyphicon glyphicon-thumbs-down'></span>".html_safe, "/lame", class: "btn btn-default", id: "lame"
          = link_to "<span class='glyphicon glyphicon-minus'></span>".html_safe, "/meh", class: "btn btn-default", id: "meh"
          = link_to "<span class='glyphicon glyphicon-thumbs-up'></span>".html_safe, "/awesome", class: "btn btn-default", id: "awesome"
    %ul.nav.nav-tabs
      %li#chat_tab.active= link_to "<span class='glyphicon glyphicon-comment'></span>".html_safe, root_path
      %li#queue_tab= link_to "<span class='glyphicon glyphicon-music'></span>".html_safe, root_path
      %li#library_tab= link_to "<span class='glyphicon glyphicon-list'></span>".html_safe, root_path
    .panel.panel-primary#chat_panel
      .panel-body#chat_text
      .panel-footer.text-center
        = form_tag( '/chat', role: 'form', id: 'chat_form' ) do
          = text_field :chat, :message, class: 'form-control input-sm', autocomplete: "off", autofocus: true, placeholder: 'hep hep hep hep'
    .panel.panel-primary#queue_panel
      .panel-body#queue_list
        - current_rudy.queued_songs.order( :sequence ).each do |queued_song|
          .row
            .col-sm-10
              %p{ id: "queue_list_#{ queued_song.song.id }" }
                = '"' + queued_song.song.title + '"'
                %br/
                = queued_song.song.artist
            .col-sm-2.text-right
              .queue_tools
                - unless queued_song.sequence == 0
                  = link_to "<span class='glyphicon glyphicon-chevron-up'></span>".html_safe, "/move_up_queue", class: 'btn btn-default btn-xs move_up_queue', id: "move_up_queue_#{ queued_song.id }"
                - unless queued_song.sequence == current_rudy.queued_songs.count - 1
                  = link_to "<span class='glyphicon glyphicon-chevron-down'></span>".html_safe, "/move_down_queue", class: 'btn btn-default btn-xs move_down_queue', id: "move_down_queue_#{ queued_song.id }"
                = link_to "<span class='glyphicon glyphicon-minus-sign'></span>".html_safe, "/remove_from_queue", class: 'btn btn-success btn-xs remove_from_queue', id: "library_list_remove_#{ queued_song.id }"
        #search_results
      .panel-footer.text-center#library_search_form
        %br/
        -# = form_tag( '/search', role: 'form', id: 'search_form' ) do
          = text_field :queue, :q, class: 'form-control input-sm', autocomplete: "off", placeholder: 'search'
    .panel.panel-primary#library_panel
      .panel-body#library_list
        - Song.all.order( :title ).each do |song|
          %p{ id: "library_list_#{ song.id }" }
            - unless current_rudy.songs.include? song
              .pull-right
                = link_to "<span class='glyphicon glyphicon-plus-sign'></span>".html_safe, "/add_to_queue", class: 'btn btn-success add_to_queue', id: "library_list_add_#{ song.id }"
            - else
              .pull-right
                - queued_song = QueuedSong.where( song_id: song.id, rudy_id: current_rudy.id ).first
                = link_to "<span class='glyphicon glyphicon-minus-sign'></span>".html_safe, "/remove_from_queue", class: 'btn btn-success remove_from_queue', id: "library_list_add_#{ queued_song.id }"
            = '"' + song.title + '"'
            %br/
            = song.artist
      .panel-footer.text-center#queue_upload_form
        = link_to "Upload music <span class='glyphicon glyphicon-cloud-upload'></span>".html_safe, queue_upload_path, id: "upload_music_link", class: "btn btn-primary btn-sm btn-block"
        = file_field_tag "upload_music", id: "upload_music", 'data-url' => queue_upload_path, multiple: true, style: 'display:none'
        =# link_to "Search library <span class='glyphicon glyphicon-search'></span>".html_safe, queue_search_path, id: "search_music_link", class: "btn btn-primary btn-sm"
      .panel-footer.text-center#queue_uploading Uploading...
%br/